html {
  --color-main: hsl(200, 98%, 39%);
  --color-main-light: hsl(200, 98%, 30%);
  --color-main-dark: hsl(200, 98%, 10%);
  --color-main-darker: hsl(200, 98%, 6%);
  --color-main-dark-transparent: hsla(200, 98%, 30%, 0.3);
  --color-error: hsl(0, 78%, 47%);

  --color-black: hsl(200, 98%, 3%);
  --color-white: hsl(0, 0%, 100%);
  --color-white-transparent: hsla(0, 0%, 100%, 0.7);

  --border-radius: 5px;

  --padding-x: 0.7em;
  --padding-y: 0.5em;
}

body {
  background-color: var(--color-black);
  color: var(--color-white);
  font-family: "Poppins", sans-serif;
}

.container {
  width: 90%;
  max-width: 85em;
  margin: 0 auto;
  padding-block: 2em;
}

a:hover {
  color: var(--color-main);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5em;
}

.navbar > * {
  flex: 1;
}

.navbar_left {
  display: flex;
  gap: 2em;
  align-items: center;
}

.navbar_logo {
  font-size: 2em;
  font-weight: 700;
}

.navbar_link {
  font-size: 1em;
  font-weight: 500;
  text-transform: uppercase;
  padding: var(--padding-y) var(--padding-x);
  border: 2px solid var(--color-white-transparent);
  border-radius: var(--border-radius);
}

.navbar_link:last-child {
  margin-left: 0.7em;
}

.navbar_link:hover,
.navbar_link.active {
  background-color: var(--color-main);
  border-color: var(--color-main);
  color: var(--color-white);
}

.navbar_right {
  text-align: right;
}

.navbar_search {
  position: relative;
  display: inline-block;
  width: 70%;
}

.navbar_search_input {
  width: 100%;
  padding: var(--padding-y) var(--padding-x);
  border: 2px solid var(--color-main-dark);
  font-size: 1em;
  font-weight: 500;
  border-radius: var(--border-radius);
  background-color: var(--color-main-dark);
}

.navbar_search_input:focus {
  border-color: var(--color-main-light);
}

.navbar_search_button {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  cursor: pointer;
}

.navbar_account {
  display: inline-block;
}

h1 {
  font-size: 2.7em;
  text-align: center;
  padding-bottom: 1.5em;
  text-transform: capitalize;
}

section {
  margin-bottom: 5em;
}

.section_title {
  font-size: 1.5em;
  text-transform: capitalize;
  margin-bottom: 0.9em;
  padding-bottom: 0.1em;
  border-bottom: 1px solid var(--color-main-light);
}

.posters-container {
  position: relative;
}

.posters_list {
  list-style: none;
  width: 100%;
  height: auto;
  display: flex;
  gap: 1em;
  overflow-x: auto;
  overflow-y: hidden;
  padding-left: 0;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 1em;
}

.posters_list::-webkit-scrollbar {
  display: none;
}

.posters_list::-webkit-scrollbar-thumb {
  background-color: var(--color-main);
  border-radius: 100px;
}

.posters_item {
  flex: 0 0 13em;
  cursor: pointer;
  overflow: hidden;
}

.posters_item a {
  position: relative;
}

.poster_img {
  transition: filter 0.2s ease-in;
}

.poster_img_overlay {
  padding: 0.3em 0.6em;
  border-radius: var(--border-radius);
  border: 2px solid var(--color-white-transparent);
  font-size: 0.8em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

.poster_img:hover {
  filter: brightness(70%) blur(2px);
}

.poster_img:hover + .poster_img_overlay {
  opacity: 1;
  color: var(--color-white);
  pointer-events: none;
}

.poster_info {
  position: relative;
  font-size: 1.05em;
  font-weight: 500;
}

.poster_vote {
  background-color: var(--color-main-dark);
  border: 4px solid var(--color-main);
  display: inline-block;
  border-radius: 500px;
  width: 2.7em;
  height: 2.7em;
  display: grid;
  place-items: center;
  font-size: 0.9em;
  font-weight: 400;
  position: absolute;
  transform: translateY(-65%);
}

.poster_title {
  padding-top: 1.4em;
}

.poster_date {
  font-size: 0.9em;
  font-weight: 400;
  color: var(--color-white-transparent);
}

.arrow {
  position: absolute;
  top: 40%;
  z-index: 99;
  cursor: pointer;
  height: 3.7em;
  width: 3.7em;
  display: grid;
  place-items: center;
  background-color: var(--color-main-dark-transparent);
  backdrop-filter: blur(3px);
  border-radius: 100px;
}

.arrow-left {
  left: 0;
  transform: translate(-50%, -50%);
}

.arrow-right {
  right: 0;
  transform: translate(50%, -50%);
}

.top5 {
  background-color: var(--color-main-dark);
  padding: 3em;
  border-radius: var(--border-radius);
}

.top5 .arrow {
  display: none;
}

.top5 .posters_list {
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
}

.top5 .posters_item {
  flex: 0 1 14em;
}

.top5 .poster_info {
  font-size: 1.15em;
  font-weight: 600;
}

.top5 .poster_info .poster_vote {
  width: 3em;
  height: 3em;
}

.title-section {
  font-size: 1.15em;
  position: relative;
}

.title_background {
  filter: brightness(15%);
  aspect-ratio: 16 / 9;
  width: 90%;
  height: auto;
  margin: 0 auto;
}

.title_details {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  z-index: 20;
}

.title_poster {
  flex: 0 1 22%;
}

.title_info {
  flex: 0 1 60%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.title {
  font-size: 1.9em;
}

.title span {
  display: inline-block;
  margin-left: 0.5em;
  font-size: 0.7em;
  font-weight: 400;
  color: var(--color-white-transparent);
}

.title_genres {
  list-style: none;
}

.title_overview {
  margin: 0.8em 0 1.5em 0;
}

.title_overview {
  max-width: 65ch;
}

.title-section .poster_vote {
  position: relative;
  transform: translateY(0);
}

.title-section svg {
  display: inline-block;
}

.title-section a {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.trailer {
  text-align: center;
}

.trailer iframe {
  aspect-ratio: 16 / 9;
  height: auto;
  width: 90%;
}

.form-container {
  background-color: var(--color-main-dark);
  width: 100%;
  max-width: 30em;
  margin: 0 auto;
  padding: 2em 2em 8em 2em;
  border-radius: var(--border-radius);
  position: relative;
}

.form-container h2 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 2em;
  text-transform: capitalize;
}

.input_row {
  margin-bottom: 2em;
}

.input_row label {
  display: block;
  font-size: 1.05em;
  font-weight: 600;
  margin-bottom: 0.3em;
}

.input_row input,
.form button {
  width: 100%;
  border-radius: var(--border-radius);
  padding: var(--padding-y) var(--padding-x);
  font-weight: 500;
}

.input_row input {
  display: block;
  background-color: var(--color-main-darker);
}

.form button {
  background-color: var(--color-main);
  cursor: pointer;
  text-transform: capitalize;
}

.form_footer {
  position: absolute;
  bottom: 2em;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
}

.form_footer p,
.form_footer a {
  display: inline-block;
  text-transform: capitalize;
}

.form_footer p {
  color: var(--color-white-transparent);
  margin-right: 0.5em;
}

.error-message {
  color: var(--color-error);
  margin-top: 1.5em;
  text-align: center;
}

.search-results button {
  display: none;
}

.search-results ul {
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
}

.search-results li {
  flex: 0 1 10em;
}

@media (max-width: 1250px) {
  .top5 {
    padding: 2em;
  }
}

@media (max-width: 1000px) {
  body {
    font-size: 0.9em;
  }

  .top5 {
    padding: 2em;
  }

  .title-section {
    font-size: 1.1em;
  }
}

@media (max-width: 850px) {
  body {
    font-size: 0.8em;
  }

  .navbar {
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }

  .navbar_right {
    display: flex;
  }

  .navbar_left,
  .navbar_right {
    width: 100%;
    justify-content: space-between;
  }

  .navbar_search {
    width: 70%;
  }

  .title_background {
    display: none;
  }

  .title_details {
    position: unset;
    transform: unset;
    flex-direction: column;
  }

  .title_poster img {
    width: 80%;
    margin: 0 auto;
  }
}
